@import 'tailwindcss';

@theme {
  --color-primary-500: var(--color-sky-500);
}

:root {
  font-family: 'Segoe UI', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-zinc-600);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: var(--color-slate-400) transparent;
  scrollbar-width: thin;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  text-align: center;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:focus {
  border-color: var(--color-primary-500);
  @apply ring-1 ring-sky-500;
}

textarea:focus {
  border-color: var(--color-primary-500);
  @apply ring-1 ring-sky-500;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-400);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}

textarea::-webkit-scrollbar-corner {
  border-radius: 8px;
  background: var(--color-white);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-zinc-900);
    background-color: var(--color-white);
  }
  a:hover {
    color: #747bff;
  }
}
